body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(218, 232, 250);
}
header{
    text-align: center;

    h1{
        font-size: 35px;
    }
    p{
        font-size: 25px;
        padding-bottom: 15px;
        border-bottom: 3px black solid;
    }
}
main{
    font-size: 18px;
}
#subtitle{
    font-size: 20px;
}
li{
    list-style: none;
}

/*Para o Primeiro Acordion*/
.container{
    display: flex;
    p{
        margin: 10px;
    }
    .p1{
        background-color: rgb(116, 223, 223);
        padding: 9px;
        border-radius: 10px;
    }
    .p2{
        background-color: rgb(116, 223, 134);
        padding: 9px;
        border-radius: 10px;
    }
    .p3{
        background-color: rgb(123, 116, 223);
        padding: 9px;
        border-radius: 10px;
    }
    .p4{
        background-color: rgb(223, 173, 116);
        padding: 9px;
        border-radius: 10px;
    }
    .p5{
        background-color: rgb(223, 212, 116);
        padding: 9px;
        border-radius: 10px;
    }
}
.container2{
    display: flex;
    flex-direction: column;
    p{
        margin: 10px;
    }
    .p1{
        background-color: rgb(116, 223, 223);
        padding: 9px;
        border-radius: 10px;
    }
    .p2{
        background-color: rgb(116, 223, 134);
        padding: 9px;
        border-radius: 10px;
    }
    .p3{
        background-color: rgb(123, 116, 223);
        padding: 9px;
        border-radius: 10px;
    }
}
.container3{
    display: flex;
    flex-direction: row-reverse;
    p{
        margin: 10px;
    }
    .p1{
        background-color: rgb(116, 223, 223);
        padding: 9px;
        border-radius: 10px;
    }
    .p2{
        background-color: rgb(116, 223, 134);
        padding: 9px;
        border-radius: 10px;
    }
    .p3{
        background-color: rgb(123, 116, 223);
        padding: 9px;
        border-radius: 10px;
    }
    .p4{
        background-color: rgb(223, 173, 116);
        padding: 9px;
        border-radius: 10px;
    }
    .p5{
        background-color: rgb(223, 212, 116);
        padding: 9px;
        border-radius: 10px;
    }
}
.container4{
    display: flex;
    flex-direction: column-reverse;
    p{
        margin: 10px;
    }
    .p1{
        background-color: rgb(116, 223, 223);
        padding: 9px;
        border-radius: 10px;
    }
    .p2{
        background-color: rgb(116, 223, 134);
        padding: 9px;
        border-radius: 10px;
    }
    .p3{
        background-color: rgb(123, 116, 223);
        padding: 9px;
        border-radius: 10px;
    }
}
summary{
    background-color: rgb(127, 129, 255);
    margin: 10px;
    padding: 5px;
    width: 25%;
    border-radius: 10px;
}
#rw{
    background-color: rgb(127, 129, 255);
    margin: 10px 10px 19px 10px;
    padding: 5px;
    width: 25%;
    border-radius: 10px;
}
h2{
    text-align: center;
}
.nowrap{
    display: flex;
    flex-wrap: nowrap;
    p{
        margin: 10px;
    }
    .p1{
        background-color: rgb(116, 223, 223);
        padding: 9px;
        border-radius: 10px;
    }
    .p2{
        background-color: rgb(116, 223, 134);
        padding: 9px;
        border-radius: 10px;
    }
    .p3{
        background-color: rgb(123, 116, 223);
        padding: 9px;
        border-radius: 10px;
    }
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    p{
        margin: 10px;
        flex: 1 200px;
    }
    .p1{
        background-color: rgb(116, 223, 223);
        padding: 9px;
        border-radius: 10px;
    }
    .p2{
        background-color: rgb(116, 223, 134);
        padding: 9px;
        border-radius: 10px;
    }
    .p3{
        background-color: rgb(123, 116, 223);
        padding: 9px;
        border-radius: 10px;
    }
    .p4{
        background-color: rgb(223, 180, 116);
        padding: 9px;
        border-radius: 10px;
    }
}
hr{
    border: 1px solid black;
}
/*Segundo Acordion*/
.container5{
    display: flex;
    p{
        margin: 10px;
    }
    .p1{
        flex: 1 50%;
        background-color: rgb(116, 223, 223);
        padding: 9px;
        border-radius: 10px;
    }
    .p2{
        flex: 1 100%;
        background-color: rgb(116, 223, 134);
        padding: 9px;
        border-radius: 10px;
    }
    .p3{
        flex: 1 50%;
        background-color: rgb(123, 116, 223);
        padding: 9px;
        border-radius: 10px;
    }
}
.cmd{
    display: inline-flex;
    p{
        margin: 0 50px 0 50px;
        background-color: rgb(34, 8, 53);
        padding: 15px;
        border-radius: 20px;
        color: rgb(230, 230, 230);
    }
}